<div class="city-selector" style="display: block;">
	<div class="morecity-title">
		<p>更多城市</p>
		<a class="close-icon" href="javascript:void(0)"></a>
	</div>
	<div class="hotcity">
		<ul class="hotcity_lst f-cb">
			<li class="hot_pos pos_active pos_hide">不限</li>
			<li class="hot_pos">
				<a data-href="B">B</a>
				<a data-href="D">D</a>
				<a data-href="K">K</a>
				<a data-href="L">L</a>
			</li>
			<li class="hot_pos">
				<a data-href="Q">Q</a>
				<a data-href="X">X</a>
			</li>
		</ul>
	</div>
	<div class="page-city-content">
		<div class="city-list">
			<ul class="morecity_lst">
				<li class="f-cb sort_display">
					<i id="Q">Q</i>
					<a city-id="1601" city-code="43715">青岛</a>
					<a city-id="0503" city-code="43718">秦皇岛</a>
				</li>
			</ul>
		</div>
	</div>
</div>