<div class="rightNav">
    <div class="rightNav_bg" style='background:url("{{meetingPic}}") no-repeat center bottom;'></div>
    <ul class="rightNav_ul">
        <li class="rightNav_li rightNav_act hotellink" hotellink="{{mainMUrl}}">主会场</li>
        {{#list}}
            <li class="rightNav_li hotellink" hotellink="{{semenetUrl}}">{{semeetName}}</li>
        {{/list}}
    </ul>
</div>